<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Success</title>
</head>
<body>
    <h1>You have successfully logged in to StockStatus!</h1>
    <h2>Welcome <span data-th-text="${username}"></span></h2>
    <h3>My stock purchase history</h3>

    <table border="1">
        <tbody>
            <!-- <th>Transaction ID</th> -->
            <th>Date of Purchase</th>
            <th>Ticker</th>
            <th>Company Name</th>
            <th>Quantity</th>
            <th>Price per share (US$)</th>
            <th>Total price (US$)</th>
            <th>Status</th>

            <tr data-th-each="transaction: ${transactionList}">
                    <!-- <td data-th-text="${transaction.getTransactionId}"></td> -->
                    <td data-th-text="${transaction.getPurchaseDate}"></td>
                    <td data-th-text="${transaction.getSymbol}"></td>
                    <td data-th-text="${transaction.getCompanyName}"></td>
                    <td data-th-text="${transaction.getQuantity}"></td>
                    <td data-th-text="${transaction.getStockPrice}"></td>
                    <td data-th-text="${transaction.getTotalPrice}"></td>
                    <td data-th-text="${transaction.getStockStatus}"></td>

            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <h3>Made a trade recently? Add your purchase here</h3>
    <form 
        data-th-action="@{authenticate/addTransaction}"
        method="post"
        style="margin: 0; padding: 0"
     >
     <div>
        <input
        style="display: inline"
        type="date"
        name="purchaseDate"
        placeholder="Purchase Date"
      />
        <input
        style="display: inline"
        type="text"
        name="symbol"
        placeholder="Company ticker"
        />
        <input
        style="display: inline"
        type="text"
        name="companyName"
        placeholder="Name of Company"
      />
      <input
      style="display: inline"
      type="number" step="any"
      name="quantity"
      placeholder="Quantity"
    />
    <input
    style="display: inline"
    type="number" step="0.01"
    name="stockPrice"
    placeholder="Price per stock"
  />
    <input
    style="display: inline"
    type="number" step="0.01"
    name="totalPrice"
    placeholder="Total cost of stock purchase"
    />

    <!-- <input
    style="display: inline"
    type="number" 
    name="userId"
    placeholder="User"
    /> -->
     </div>
     <br>
     <br>
        <button style="display: inline" type="submit">Add stock purchase</button>
    </form>
    <br>
    <br>
    <br>
    <form>
    <button type="submit" formmethod="GET" formaction="/logout">
        Logout
    </button>
    </form>
</body>
</html>