<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <!-- create navigation bar (Header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">StockStatus</a>
			</div>
		</div>
	</nav>
    <br>
    <br>

     <!-- Create HTML registration form -->
     <div class = "container">
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3" >

                <!-- success message -->
                <!-- <div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to StockStatus!</div>
				</div> -->

                <h1>Registration</h1>
                <form data-th-action="@{/createUser}" method="post">
                    <div class = "form-group">
                        <label class = "control-label" for="username">
                                Enter username
                        </label>
                        <input class = "form-control" type="text" name="username"  required autofocus="autofocus"/>
                    </div>

					<div class="form-group">
						<label class="control-label" for="password"> Enter password </label> <input
						     class="form-control" type="password"
							name="password" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
                        <span>Already registered? <a href="/" >Login here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="alert alert-info" data-th-text="${messageUser}"></div>

    <!-- <span data-th-text="${messageUser}"></span> -->

    <!-- <form data-th-action="@{/createUser}" method="post">
		<table>
			<tr>
				<td>
					<label for="username">Enter your username:</label>
				</td>
				<td>
					<input type="text" name="username" size="20" required>
				</td>
			</tr>
            <tr>
				<td>
					<label for="password">Enter your password:</label>
				</td>
				<td>
					<input type="password" name="password" size="20" required>
				</td>
			</tr>
			
		</table>
        
        <button type="submit">Register</button>
      </form>
	  <span data-th-text="${messageUser}"></span> -->



</body>
</html>